@charset "UTF-8";
body{
	text-align:center;
	background-color: black;
	color: white;
}
div1{
		border: 6px solid orange;
	border-radius: 50px;
	box-shadow: 0px 0px 30px 5px rgb(0, 128, 192);
	width: 50%;
	margin: 50px auto;
	padding: 20px;
	display: inline-block;
	text-align:center;
}